services:
  app:
    build:
      context: .
      dockerfile: dockerfile
    restart: always
    ports:
      - "${PORT:-3000}:3000"
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - NODE_ENV=production
