services:
  app:
    build:
      context: .
      dockerfile: dockerfile
    restart: unless-stopped
    container_name: A_Website_Survey
    networks:
      - app-network
    ports:
      - "${PORT:-3000}:${PORT:-3000}"
    environment:
      - NODE_ENV=production
      - DATABASE_URL=${DATABASE_URL}
      - PORT=${PORT}

networks:
  app-network:
    driver: bridge
