body {
  margin: 0;
  height: 95vh;
  width: 100vw;
  background-image: linear-gradient( 45deg, #e74c3c, #3f51b5);
  font-family: verdana;
}

canvas {
  background-color: white;
}

footer {
  position: fixed;
  width: 100%;
  height: 10%;
  bottom: 0;
  background-color: darkblue;

  text-align: center;
}

button {
  font-size: 1vw;
  margin-top: 1vw;
  height: 3vw;
  width: 5vw;
}

h1 {
  font-family: helvetica;
  text-align: center;
  font-size: 3vw;
  color: white;
}

/* Color card graphs */
#bg_color_container {
  position: absolute;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
  width: 35vw;
  border: 2px solid black;
} 

#bg_color_solid_container{
  position: absolute;
  z-index: 3;
  width: 25.755vw;
  right: 2vw;
  top: 2vw;
}

.grad_info_container {
  position: absolute;
  z-index: 3;
}

#grad_angle_container {
  top: 2vw;
  left: 3vw;
  width: 25vw;
}

#grad_color1_container, #grad_color2_container {
  top: 16vw;
  width: 12vw;
}
#grad_color1_container {
  left: 3vw;
}
#grad_color2_container {
  left: 16vw;
}

.misc_color {
  position: absolute;
  top: 29.25vw;
  width: 15vw;
}

#card_bg_color_container {
  left: 14vw;
}
#text_color_container {
  left: 32vw;
}
#border_color_container {
  left: 50vw;
}
#avrg_border_width{
  background-color: white;
  height: 15vw;
  left: 68vw;
  text-align: center;
}
  #avrg_border_width > h2 {
    color: grey;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
  }
  #avrg_border_width > p {
    font-size: 3vw;
    margin-top: 3.5vw;
    color: grey;

  }