body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.survey {
  height: 100vh;
  width: 100vw;

  display: grid;
  place-items: center;
}

/* General styling for survey cards */
.survey_card {
  position: absolute;
  width: 50vw;
  height: 70vh;

  background-color: white;
  border: 2px solid black;
  border-radius: 2vw;
}

h1 {
  font-size: 3.5vw;
  position: absolute;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

h2 {
  font-size: 2vw;
}

h3 {
  margin-left: 10%;
  font-size: 1vw;
}

button {
  position: absolute;
  bottom: 4vh;
  height: 3vw;
  width: 9vw;
}

#nxt_btn {
  margin-left: 10%;
}

#prev_btn {
  margin-left: -10%;
}

.card_content form {
  margin-left: 10%;
  font-size: 1vw;
}

select, label, input {
  font-size: 1vw;
}

.card_content {
  margin-top: 15%;
}

.reset_btn {
  position: absolute;
  bottom: 3vh;
  left: 50%;
  transform: translateX(-50%);
  height: 3vw;
  width: 9vw;
}

/* Directions card */
#intro>h1 {
  margin-left: 10%;
  margin-top: 10%;
}

#intro p {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 25%;
}


/* Color card */
#color td {
  text-align: right;
  padding: 0.25vw;
}

#color>h1 {
  margin-bottom: 0.75vw;
}

#color h2 {
  margin-top: 0.5vw;
  margin-bottom: 0.25vw;
}

#border_width {
  font-size: 1vw;
  width: 5vw;
  text-align: center;
}

.grad_bg {
  display: none;
}

.solid_bg_color {
  display: none;
}



/* Fonts card */
.label_cont {
  text-align: left;
}

#font_card input {
  text-align: center;
  width: 7vw;
}

#font_card select {
  width: 8.5vw;
}

#font_table_space {
  width: 2vw;
}

