body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.survey {
  height: 100vh;
  width: 100vw;

  display: grid;
  place-items: center;
}

.survey_card {
  position: absolute;
  width: 60vw;
  height: 70vh;

  background-color: white;
  border: 2px solid black;
  border-radius: 2vw;
}

button {
  position: absolute;
  margin-top: 42%;
  height: 3vw;
  width: 9vw;
}

#nxt_btn {
  margin-left: 10%;
}

#prev_btn {
  margin-left: -10%;
}


/* Directions card */
#intro>h1 {
  margin-left: 10%;
  margin-top: 10%;
}

#intro>p {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10%;
}

/* Color card */
#color > h1 {
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}
#color > form {
  margin-left: 10%;
}
.grad_bg {
  display: none;
}
.solid_bg_color {
  display: none;
}
